/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ////////////////////////////////////////////////////////// */

@font-face {
    font-family: tektur;
    src: url(./fonts/tektur-variablefont_wdthwght-webfont.woff2);
}

* {
	/* outline: 1px solid red; */
}

#table {

}

.text,
button,
textarea {
	font-family: tektur;	
}

.text {
	font-size: 18px;
	margin-right: 2px;
	margin-left: 2px;
	color: rgb(125, 224, 133);
}

button {
	width: fit-content;
	font-size: 14px;
	margin: 2px 0px;
	color: rgb(125, 224, 133);
	background-color: rgb(51, 51, 51);
	border: 2px solid rgb(125, 224, 133);
}

.bigger {
	font-size: 20px;
}

.smaller {
	font-size: 16px;
	margin-bottom: -2px;
	color: rgb(255, 237, 134);
}

.bold {
	font-weight: 900;
}

.row,
.column,
.center,
.left,
li,
#table {
	display: flex;
}
.radio {
	margin: 0px 2px;
	align-items: center;
}

.row {
	margin: 8px 0px;
}

.column {
	flex-direction: column;
}

.column.left {
	justify-content: center;
	align-items: flex-start;
}

.column.center {
	justify-content: center;
	align-items: center;
}

.row.left {
	justify-content: flex-start;
	align-items: center;
}

.row.center {
	justify-content: center;
	align-items: center;
}

.pTitle {
	color: rgb(125, 224, 133);
	overflow-wrap: anywhere;
}

.wrap {
	flex-wrap: wrap;
	gap: 0px 5px;
	margin-bottom: -3px;
}

.wrap > button {
	border: 1px solid rgb(125, 224, 133);
}

li {
	justify-content: center;
	align-items: center;
}

#header {
	padding: 20px;
	font-size: 36px;
}

.project {
	margin: 10px;
}

.pHeader {
	padding: 5px;
	color: rgb(51, 51, 51);
	background-color: rgb(125, 224, 133);
	width: fit-content;
	margin: 0px;
}

.pBody {
	padding: 8px;
	border: 2px solid rgb(125, 224, 133);
	width: 320px;
}

.pStatus {
	margin-top: 0px;
	margin-bottom: 20px;
	height: 24px;
}

.due {
	margin-bottom: 0px;
}

.Low,
.Medium,
.High {
	padding: 5px;
}

#p_dialog,
#t_dialog {
	border: 2px solid rgb(125, 224, 133);
	background-color: rgb(51, 51, 51);
	padding: 0px 8px;
}

input,
textarea {
	background-color: rgb(80, 80, 80);
	accent-color: rgb(125, 224, 133);
	color: rgb(220, 255, 223);
	outline: none !important;
	border: none;
}

textarea {
	font-style: italic;
	min-width: 100%;
	margin-top: 3px;
	color: rgb(255, 237, 134);;
}

::placeholder {
	color: rgb(220, 255, 223);
	box-shadow: none !important;
}

input:focus,
textarea:focus {
	outline: none !important;
	border: none;
}

.gap5 {
	gap: 5px;
}

#addProjectBtn {
	border: 1px solid rgb(125, 224, 133);
	font-size: 24px;
}

.checklist {
	font-size: 14px;
	align-self: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 2px;

}

#addProjectBtn:hover {
	color: rgb(255, 237, 134);
	border: 1px solid rgb(255, 237, 134);
}

.btn.add:hover {
	color: rgb(255, 237, 134);
	border: 1px solid rgb(255, 237, 134);
}

.btn.compl:hover {
	color: rgb(255, 237, 134);
	border: 1px solid rgb(255, 237, 134);
}

.btn.del:hover {
	color: rgb(255, 134, 134);
	border: 1px solid rgb(255, 134, 134);
}

.highlight {
	color: rgb(51, 51, 51);
	background-color: rgb(255, 237, 134);
	padding: 5px;
}

::backdrop {
	background-color: black;
	opacity: 85%;
}

.space_between {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.text.bold.center {
	margin-top: 10px;
};
